.intro {
  height: 100vh;
  background-color: var(--primary);
  padding-top: 100px;
}
.intro__image {
  width: 15rem;
}
.intro__heading {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}
.intro__subtitle {
  color: white;
  font-size: 2rem;
  padding: 1.2rem 0;
}
